  <!--heading-->
  <div class='container h-100'>
    <div class='row align-items-center mt-1 mb-2 '>
        <div class='col d-flex justify-content-start '>
            <h3 class="fw-bold">New Game</h3>
        </div>
    </div>

    <!--search-->
    <div class='row d-flex justify-content-end  '>
        <div class='col-5   me-5' sytle = "overflow-y: auto; padding-bottom: 4px;">
            <div class="input-group mb-3">

                <select class="form-select ">
                    <option value="1" selected>Difficulty</option>
                    <option value="2">Category</option>
                </select>
                <input type="text" class="form-control w-25" >
                <button type="button" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

    <!--Subheading-->
    <div class='row align-items-center mt-1 mb-2 ms-5'>
        <div class='col d-flex '>
            <h4>Select Game</h4>
        </div>
    </div>

    <!--trivia information-->

    <div class='row align-items-center  '>
        <div class='col d-flex flex-wrap  justify-content-start' style="height:28em;">

            <div *ngFor = 'let question of questions' class='card shadow m-3' style=" min-width:15rem; width:15rem; height:11rem;">
                <div class="card-header">
                    <h6 style ="display:inline">{{difficultyNames[((question.id-1))]}}</h6>
                </div>
                <div class="card-body">
                    <a href="#" class="stretched-link text-decoration-none">
                        <p>{{categoryNames[((question.id-1))]}}</p>
                        <span>Number of questions: {{question.numQuestions}}</span>
                    </a>
                </div>
            </div>
    <!--end of container-->
</div>
