<div class='container h-100'>
    <!--heading-->
    <div class='row align-items-center mt-1 mb-2'>
        <div class='col d-flex justify-content-center'>
            <h3 class="fw-bold">Users</h3>
        </div>
    </div>
    <!--table of users-->
    <div class='row align-items-center mb-5'>
        <div class='col d-flex justify-content-center'>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Overall Rank</th>
                        <th>Number of Questions </th>
                        <th>User Type</th>
                        <th >Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor ="let user of userList">
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>Overall Rank1</td>
                        <td>Number of Questions1 </td>
                        <td>{{user.roleId}}</td>
                        <td ><i class="fas fa-info-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="far fa-check-circle"></i> &nbsp;&nbsp;
                            <i class="far fa-trash-alt"></i>
                        </td>
                    </tr>                   
                </tbody>
            </table>

        </div>
    </div>
</div>
