/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Nunito', sans-serif;
}

/* primary button stryling */
.btn-primary{
    background-color: #FFC107;
    border-color:#FFC107;
}

.btn-primary:hover{
    background-color: #e9b007;
    border-color:#e9b007;
}

.btn-primary:focus{
    background-color: #FFC107;;
    border-color:#FFC107;
}

/*managing users icons*/

.fa-trash-alt{
    color:red;
}  
.fa-check-circle{
color:darkgreen;
}  
.fa-info-circle{
color:blue;
}  
.fa-ban{
color:darkred;
} 
