<div class='container h-100'>
    <!--heading-->
    <div class='row align-items-center mt-1 mb-2'>
        <div class='col d-flex justify-content-center'>
            <h3 class="fw-bold">Leaderboard</h3>
        </div>
    </div>

<!--search-->
    <div class='row align-items-center mt-5 mb-3'>
        <div class='col d-flex justify-content-end'>
            <div class="input-group mb-3 w-50">                            
                <span class="input-group-text">Select category: </span>
                <input name = 'catgory' type='text' placeholder='Category' class="form-control">
                <button class="btn btn-secondary"><i class="fas fa-search"></i></button>                            
        </div> 
        </div></div>
    <!--table of users-->
    <div class='row align-items-center mb-5'>
        <div class='col d-flex justify-content-center'>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Topic</th>
                        <th>Time</th>
                        <th>Score</th>                            
                        <th>Overall rank</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>username1</td>
                        <td>Topic1</td>
                        <td>500ms </td>
                        <td >300</td>
                        <td >1</td>
                        <td><i class="far fa-trash-alt" ></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>username2</td>
                        <td>Topic2</td>
                        <td>100ms</td>
                        <td>200</td>
                        <td >2</td>
                        <td><i class="far fa-trash-alt" ></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



</div>