<div class='container  h-100 pt-5 mt-5 '>
    <div class='row align-items-center'>
        <div class='col d-flex justify-content-center'>

            <div class="card shadow-sm " style="width:18rem;">
                <div class="card-header">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">                          
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>                               
                            </span>
                            <input name = 'username' type='text' placeholder='Username' class="form-control">                            
                    </div>                        
                    <div class="input-group mb-3">                            
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input name = 'password' type='password' placeholder='Password' class="form-control">                            
                    </div>
                    
                    <div class=" gap-2 d-flex justify-content-end">
                        <button class='btn btn-outline-secondary' type='submit'>Sign up</button>
                        <button class='btn btn-primary' type='submit'>Login </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
