<div class='container  h-100 pt-5 mt-5 '>
   
   <!--login card-->
    <div class='row align-items-center'>
        <div class='col d-flex justify-content-center'>

            <div class="card shadow-sm " style="width:18rem;">
                <div class="card-header">
                    <h4 class="card-title">Login</h4>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">                          
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>                               
                            </span>
                            <input #username type='text' placeholder='Username' class="form-control">                            
                    </div>                        
                    <div class="input-group mb-3">                            
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input #password type='password' placeholder='Password' class="form-control">                            
                    </div>
                    
                    <div class=" gap-2 d-flex justify-content-end">
                        <button class='btn btn-outline-secondary' type='submit' routerLink='/signup'>Sign up</button>
                        <button class='btn btn-primary' type='submit' (click)= 'validateCredentials(username.value, password.value)'>Login </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--message-->
    <div class='row'>
        <div class ='col col d-flex justify-content-center'>
            <p>{{message}}</p>
        </div>
    </div>
</div>
