<div class='container'>
    <!--heading-->
    <div class='row align-items-center mt-1 mb-2'>
        <div class='col d-flex justify-content-center'>
            <h3 class="fw-bold">Game {{question}}:{{difficulty}}</h3>
        </div>
    </div>

    <!--message-->
    <div class='row align-items-center mt-5 mb-3'>
        <div class='col d-flex justify-content-center'>
            <h4>Answer questions below... Have fun!</h4>


        </div>
    </div>
    <!--quit button-->
    <div class='row align-items-center mt-5 mb-3'>
        <div class='col d-flex justify-content-end'>
            <br>
            <button (click)= "goBack()" class='btn btn-secondary'>Quit</button>
        </div>
    </div>

    <!--questions-->

    <div class='row align-items-start mb-4'>

        <div class='col '>
            <div *ngFor = 'let pool of poolQuestion; let k = index'>
            <p class='w-100 bg-light p-2'>Question 1: {{poolQuestion[k]}}</p>
          </div>

            <div class="form-check">
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label>
            </div>

            <div class="form-check">
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label>
            </div>

            <div class="form-check">
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
            </div>
            <hr>

        </div>

    </div>


    <!--submit button-->

    <div class='row align-items-end mb-5'>
        <div class='col d-flex justify-content-end'>
            <button class='btn btn-primary'>Sumbit</button>

        </div>

    </div>

