<div class='container  h-100 pt-5 mt-5 '>
    <div class='row align-items-center'>
        <div class='col d-flex justify-content-center'>

            <div class="card shadow-sm " style="width:30rem;">
                <div class="card-header">
                    <h4 class="card-title">New Category</h4>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text ">Select Category: </span>
                        <select #category class="form-select" aria-label="Default select example">
                            <option selected value = '0'>Select Category</option>
                            <option *ngFor='let category of categoryArray' [value]='category.id'>{{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text ">Difficulty:</span>
                        <select #difficulty class="form-select" aria-label="Default select example">
                            <option selected value='0'>Select Difficulty</option>
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>

                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Number of Questions: </span>
                        <input #noQuestions type='number' placeholder='min 5, max 25' class="form-control"  min='5'
                            max='25'>

                    </div>

                    <div class=" gap-2 d-flex justify-content-end">
                        <button class='btn btn-outline-secondary' type='submit'
                        (click)="category.value='0';difficulty.value ='0'; noQuestions.value=''">Clear</button>
                        <button class='btn btn-primary' type='submit'
                        (click)='createNewCategory(category.value,difficulty.value,noQuestions.value)'>Create
                        </button>
                    </div>
                </div>
                <div class="card-footer">
                    <p>{{message}}</p>
                </div>
            </div>

        </div>
    </div>
</div>